@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: radial-gradient(121.73% 121.49% at 100% -3.39%, #1F4247 0%, #0D1D23 56.18%, #09141A 100%);
  --foreground-rgb: 255, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));
  background: var(--background)
}

section.container {
  min-height: 100vh;
}

section.auth-container {
  min-height: 100vh;
  display: flex;
  align-items: center;
  margin: 0 auto;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer components {
  .button-primary {
    @apply py-3 w-full text-white bg-primary rounded-lg;
  }

  .form-control {
    @apply w-full p-4 rounded-md outline-none border-none bg-input;
  }

  .form-control-profile {
    @apply w-[60%] p-2 rounded-md outline-none border-none bg-input text-right;
  }
}

.input-date::-webkit-calendar-picker-indicator {
  display: none;
}

.input-number::-webkit-outer-spin-button,
.input-number::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}